.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 5px;
  position: relative;
}

.logo {
  font-family: sans-serif;
  font-size: 50px;
  font-weight: 900;
}

.logo > img {
  width: 100px;
  margin-right: 10px;
}

.menu {
  display: flex;
  align-items: center;
  font-size: 20px;
  font-weight: bold;
  color: #0096d6;
}
.menu > li + li {
  margin-left: 10px;
}

.menu li {
  position: relative;
}

.menu li:hover > a {
  text-decoration: underline;
}
.menu a {
  padding: 10px 25px;
  background-color: #d3d3d3;
  border-radius: 10px;
  border: 2px solid #0096d6;
}

.drop-menu {
  padding: 10px;
  position: absolute;
  left: 0;
  top: 100%;
  visibility: hidden;
  opacity: 0;
}

.drop-menu2 {
  padding-left: 10px;
  position: absolute;
  right: 0;
  left: 100%;
  visibility: hidden;
  opacity: 0;
  top: 0;
}

.drop-menu2 > li + li {
  padding-top: 10px;
}

.drop-menu > li + li {
  margin-top: 10px;
}

.menu li:hover > .drop-menu {
  visibility: visible;
  opacity: 1;
}

.desctop:hover > .drop-menu2 {
  visibility: visible;
  opacity: 1;
}

.main .header .container .header-left {
  width: 300px;
  min-height: 150px;
  padding-top: 10px;
}

.header .container .header-right {
  width: 850px;
}
.header .container .header-bottom {
  width: 1200px;
  min-height: 250px;
  margin: 25px 0;
}

.main .container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.main .container .sidebar-left {
  width: 300px;
  min-height: 200px;
}

.main .container .sidebar-middle {
  width: 500px;
}

.main .container .sidebar-left {
  width: 300px;
}

.main .container .sidebar-first {
  width: 580px;
  min-height: 200px;
  margin: 20px 0;
}
.main .container .sidebar-second {
  width: 580px;

  margin: 20px 0;
}

.footer .container .footer-first {
  width: 100%;
  min-height: 100px;
  margin-bottom: 20px;
}

.footer .container .footer-second {
  width: 100%;
  min-height: 150px;
}
